*.[oa]
*.lo
*.la
Makefile.in
.deps
.idea
.DS_Store
cmake-build-*
Makefile
.*.swp
INSTALL
aclocal.m4
autom4te.cache/
autotools/
config.log
config.status
configure
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
opensmt
src/bin/.dirstamp
regression/log-*
src/PySMT/opensmt.py
.ycm_extra_conf.py
.ycm_extra_conf.pyc
authors.txt
build/
delta/parser/__pycache__/
examples/_opensmt.so
examples/opensmt.py
examples/opensmt.pyc
examples/pyopensmt.so
examples/test
examples/test2
examples/test_c
examples/test_itp
examples/test_lra_itp
implies.smt2
incrementality.smt2
loopbreak-0.dot
opensmt-master
regression/NEQ004_size4_writestate.osmt2
regression/linkage/test
regression/linkage/test_c
regression/state-dump/bar-00.smt2
regression/state-dump/bar-01.smt2
regression/state-dump/foo-00.osmt2
regression/state-dump/foo-01.osmt2
src/PySMT/opensmt_python_wrap.c
src/api/.dirstamp
test/bmwlin_20_5_1.inter.mbc_k100_first.smt2
test/bmwlin_20_5_1.inter.mbc_k100_first_simplified_0.smt2
test/equality-simple.smt2
test/good.smt2
test/iso_icl_nogen_sk012_itptest_itp0.smt2
test/no_op_accs.base.smt2
test/no_op_accs.base_simplified_0.smt2
test/pd_init_op_accs.induction.simplified_0.smt2
test/pursuit-safety-15.smt2
test/pursuit-safety-15_simplified_0.smt2
test/push_test.smt2
verifyinterp_A.smt2
verifyinterp_B.smt2
lookahead.smt2
proof.smt2
random_lookahead.smt2
